.menuNav{
    display: grid;
    width: 100%;
    place-items: center;
    background-color: hsl(153,40%,35%);
    border-radius: 8px;
    height: 30%;
}
.grideoV{
    grid-template-rows: repeat(5,20%);
}
.grideoH{
    grid-template-columns: repeat(4,25%);
}
.menuNav .divInterno{
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    width: 90%;
}
.menuNav a{
    color: white;
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
}
#iniciarSesion{
    display: grid;
    color: white;
    width: 70%;
    font-size: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    place-items: center;
    background-color: hsl(153,40%,35%);
    border: 0;
    border-radius: 8px;
    height: 30%;
    text-align: center;
}

.divInterno:hover,#iniciarSesion:hover{
    background-color: hsl(153,40%,70%);
    border-radius: 8px;
    transition: all .5s ease 0s;
}
.espacio{
    display: none;
}
#vertical{
    display: none;
}
#hamburguesa
{
    display:none;
    width:20%;
    padding: 1%;
}
#hamburguesa:focus{
    border:solid 2px white;
    border-radius: 8px;
    background-color: hsl(153,40%,70%);
}
#hamburguesa>img
{
    width:100%;
}

@media only screen and (max-width:870px)
{
    #iniciarSesion
    {
        display:none;
    }
    #hamburguesa
    {
        display:flex;
    }
    .divInterno>a{
        width:100%;
        place-items: right;
        text-align: right;
    }
}

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 16vh;
    background-color: hsl(153,40%,35%);
    background-size: cover;
    background-position: center;
    
}

header .nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.5s ease;
    z-index: 99;
}   
header .nav.active{
    background: hsl(153,40%,35%);
    padding: 15px;
}
header .nav.active a{
    color: white;
}
header .nav.active a:hover{
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 15px;
}
header .nav.active img{
    max-width: 75px;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 15px;
}
header .logo img{
    width: 6vw;
}
.scrol{
    height: 100px;
}