*
{
    box-sizing: border-box;
}


.divsig{
    display: block;
    width:100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#siguenos{
    margin:0 auto;
    text-align: center;
    border-radius: 8px;
    width:100%;
    color:hsl(153,40%,30%);
}


#top{
    text-align: center;
}

#siguenos img{
    width: 30%;
    margin:10%;
}

#siguenos img:hover{
    animation: resal .5s forwards   ;
}

@keyframes resal{
    100%{
        scale:120%;
    }
}

#siguenos h1{
    padding-top:5%;
    font-weight: bold;
}
#cuentanos{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    border-radius: 8px;
    border:solid 3px hsl(153,40%,30%);    
}
#cuentanos table{
    border-spacing: 10px;
    border-collapse: separate;
}
#cuentanos legend
{
    color:hsl(153,40%,30%);
}
.mensaje{
    height: 140px;
    width: 100%;
    border-radius: 10px;
}
.escrib{
    border-radius: 8px;
    height: 25px;
    width: 100%;
}   
.asunto{
    border-radius: 8px;
    height:25px;
    font-family: 'Comic Sans MS';
    width: 100%;
}
#secc{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
#envio{
    background-color: hsl(153,40%,30%);
    color:white;
    border-radius: 8px;
    border:none;
    height: 35px;
    width: 70px;
}
#envio:hover{
    background-color: hsl(65.429, 100%, 41%);
    color:hsl(153,40%,30%);
    transition: all .5s ease 0s;
}
.pres{
    display: flex;
    margin: 2% auto;
    height: 500px;
    background-color: hsl(153,40%,30%);
    color:white;
    text-align:center;
    padding-top:4%;
    padding-bottom:4%;
    justify-content: center;
  }

  .pres div{
    padding-top: 6%;
  }

  .pres h1{
    font-size: 5em;
    font-weight: bold;
    animation: texto 1s ease-out;
  }
  .pres p{
    font-size: 1.5em;
    animation: texto 1s ease-out;
  }

.perrito
{
    animation: perrito 1s ease-out;
}
.gatito
{
    animation: gatito 1s ease-out;
}

#cuentanos h1{
    font-weight: bold;
}

@keyframes texto{
    0%{
        opacity:0%;
        transform:translateY(-50%);
    }
    100%
    {
        opacity:100%;
        transform:translateY(0%);
    }
}
.mapa
{
    width:100%;
    color:hsl(153,40%,30%);
    text-align: center;
}

.mapa h1
{
    font-weight: bold;
}

.mapa iframe{
    width:100%;
    height:450px; 
}

@keyframes perrito {
    0%{
        opacity: 0%;
        transform: translateX(-50%);
    }
    100%{
        opacity:100%;
        transform:translateX(0%);
    }
}
@keyframes gatito {
    0%{
        opacity: 0%;
        transform: translateX(50%);
    }
    100%{
        opacity:100%;
        transform:translateX(0%);
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .divsig {
      display:block;
    }
    #siguenos{
        width:100%;
        margin:5% auto;

    }
    #siguenos img{
        width:40%;
    }
    #secc {
        width:100%;
        margin: 0 auto;
    }
    #cuentanos
    {
        width:fit-content;
        margin:0 auto;
        justify-content: center;
        
    }
    .pres
    {
        display:block;
        height:1000px;
        padding-top: 15%;
        align-items: center;
    }
    .pres h1{
        font-size: 4em;
        animation: texto 1s ease-out;
      }
    .pres p{
        font-size: 1.25em;
        animation: texto 1s ease-out;
      }
    .perrito, .gatito{
        height: 35%;
    }
    Footer {
      width: 100%;
    }
    Header {
      width: 100%;
    }
    /* [id*="tablaHeader"]{
      width: 100%;
    } */
  }

 